= image_tag "unilogo-square.png", size: "160x154", alt: "The University of Newcastle, Australia", style: "position: fixed; left: 1em; top: 0.5em;"

%h1{style: "margin-top: 2em;"} HOAP Demonstration Survey

%li
  This is a demonstration version of the Hospital Outpatient Alcohol Project
  6 month followup survey which was completed by study participants between
  13 March 2013 and 6 September 2013.
%li
  To start, click the "Start Survey" button.

%div{style: "text-align: center"}
  = form_tag action: 'start' do
    %p= submit_tag "Start Survey"
