/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui
 */

body { background-color: #fff; color: #333; }

body, p, ol, ul, td, input, select, textarea {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size:   100%;
  line-height: 140%;
}

div#content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  text-align: center;
  line-height: 1.2;
}

input, select {
  margin-top: 5px;
}
